/* 
    ESTILO CAJAS DE PRODUCTOS
                                */
h1{
    text-align: center;
    border: 2px #646CDF solid;
    border-radius: 15px;
    padding-bottom: 7px;
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    background-color: #ffffff;
}

.card{
    border-radius: 30px;        
    min-height: 350px;
    max-height: 450px;   
    width: 275px;
    margin: 0 auto;
}

.card-body{
    text-align: justify;
    color:#646CDF; 
    font-weight:bold; 
}

.card-title{
    text-align:start;
    font-size: 35px;
}

#prod{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
} 

.boton{
    display: flex;
    justify-content: flex-end;        
}

.carrito{
    color: #646CDF;
    border-color: #646CDF;
}

.carrito:hover{
    background-color: #646CDF;
    border-color: #535253;
}

.precio{
    color: #646CDF;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-top: 5%;
    padding-bottom: 10%;
}

.owl-carousel{
    margin: 0 auto;
    max-width: 1300px;
}

.iva{
    font-size: 22px;
    font-weight: bold;
    color:darkcyan;
}

.Siva{
    font-size: 16px;
    color:darkcyan;
}
.descripcion{
    border: 3px solid #646CDF;
    border-radius: 25px;
    max-width: 1300px;
    margin-top: 7%;
    margin: 0 auto;    
    background-color: #ffffff;
}
.img_prod{
    padding: 5%;
    border-radius: 20px;
}
.img_prod > img{
    border-radius:20px
}
.row{
    margin-bottom: 5%;    
}
.serv-title{
    font-size: 30px;
    margin-bottom: 15px;
}
.serv-info{
    margin: auto;  
    padding-right: 5%;        
}
.serv-text{
    text-align: justify;
}
